# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Logs
*.log

# Target / Build
target/
build/
out/

# OS files
.DS_Store
Thumbs.db

# Maven
.mvn/timing.properties

# Gradle
.gradle/
build/

# Other
*.class
